<div class="container-margins">
		<div class="headers-box">
			<h1> To do lists </h1>
		</div>

		<% if !user_signed_in? %>
			<div class="content">
				<p> Looks like you're not signed in. </p>
				<p> Once you sign in you can start creaing lists. </p>
			</div>
		<% elsif @lists.empty? %>
			<div class="content">
				<p> You don't have any to do lists. </p>
				<p> If there is something you need to do you can create a new list </p>
			</div>
		<% else %>
			<div class="content">
				<%= render 'list_index', lists: @lists  %>
			</div>
		<% end %>		

	<% if user_signed_in? %>
		<% if policy(List).create? %>
			<%= link_to "Create a list", new_list_path(@list), class: "btn-blue" %>
		<% end %>
	<% end %>

</div>