<div class="container-margins">
		<div class="headers-box">
			<h1> To do lists </h1>
		</div>

		<% if !user_signed_in? %>
			<p> Looks like you're not signed in. </p>
			<p class="last-line"> Once you sign in you can start creaing lists. </p>
			<%= link_to "Sign in", new_user_session_path, class: "btn-blue" %>
		<% elsif @lists.empty? %>
			<p> You don't have any to do lists. </p>
			<p> If there is something you need to do you can create a new list </p>
		<% else %>
			<%= render 'list_index', lists: @lists  %>
		<% end %>		

	<% if user_signed_in? %>
		<% if policy(List).create? %>
			<div class="btn-margin">
				<%= link_to "Create a list", new_list_path(@list), class: "btn-blue" %>
			</div>
		<% end %>
	<% end %>

</div>