<div class="container-margins">
	<div class="headers-box">
		<h1> <%= @list.title %> </h1>
	</div>
	<% @list.tasks.each do |task| %>
		<%= render 'show', task: task %>
	<% end %>

	<%= link_to "Add another task", new_list_task_path(@list) %>
	<br>
	<%= link_to "Back", root_path %>
</div>