<% @list.tasks.each do |task| %>
	<% if task.status? %>
		<h5> [✔] <%= task.description %> </h5>
	<% else %>
		<h5> [ ] <%= task.description %> <%= link_to "done", done_list_path(task), :task => task.id %> </h5>
	<% end %>
<% end %>

<%= link_to "Back", root_path %>