// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(136, 201, 224);
$yellow: #F9EAA6;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(59,59,59);
$light-gray: #F4F4F4;
$black: rgb(50,54,57);
$white: #f4f8fb;