<div class='nested-fields mt-4'>
    <%= f.input :description,
    						input_html: { class: "input-style" } %>
    <%= link_to_remove_association f, class: "link-underline" do %>
			Remove this task <i class="fas fa-hand-point-up"></i>
    <% end %>
</div>