<footer class="page-footer font-small special-color-dark footer-links footer-background">
  <div class="container mt-2">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
				<%= link_to "https://github.com/benattali", class: "footer-link", target: :_blank do  %>
					<i class="fab fa-github"></i>
				<% end %>
      </li>
      <li class="list-inline-item">
				<%= link_to "https://www.linkedin.com/in/ben-attali", class: "mx-5 footer-link", target: :_blank do  %>
					<i class="fab fa-linkedin"></i>
				<% end %>
      </li>
      <li class="list-inline-item">
				<%= link_to "https://www.instagram.com/benattali/", class: "footer-link", target: :_blank do  %>
					<i class="fab fa-instagram"></i>
				<% end %>
      </li>
    </ul>
  </div>

  <div class="footer-copyright text-center mb-2">
  	© Ben Attali • 
  	2019 •
    <%= link_to "benattali.com", "https://benattali.com", target: :_blank %>
  </div>
</footer>