<footer class="footer-container">
	<div class="d-flex justify-content-center my-3">
		<%= link_to "https://github.com/benattali", target: :_blank do  %>
			<i class="fab fa-github"></i>
		<% end %>
		<%= link_to "https://www.linkedin.com/in/ben-attali", class: "mx-4", target: :_blank do  %>
			<i class="fab fa-linkedin"></i>
		<% end %>
		<%= link_to "https://www.instagram.com/benattali/", target: :_blank do  %>
			<i class="fab fa-instagram"></i>
		<% end %>
	</div>

	<div class="d-flex justify-content-center">
		<p> <i class="fas fa-copyright"></i> Ben Attali </p>
		<p> • 2019 • </p>
		<%= link_to "benattali.com", "https://benattali.com", target: :_blank %>
	</div>
</footer>