<footer class="footer-container">
	<div class="row">
		<div class="col-md-12 py-5">
			<%= link_to "https://github.com/benattali", class: "footer-link", target: :_blank do  %>
				<i class="fab fa-github"></i>
			<% end %>
			<%= link_to "https://www.linkedin.com/in/ben-attali", class: "mx-5 footer-link", target: :_blank do  %>
				<i class="fab fa-linkedin"></i>
			<% end %>
			<%= link_to "https://www.instagram.com/benattali/", class: "footer-link", target: :_blank do  %>
				<i class="fab fa-instagram"></i>
			<% end %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 py-5">
			<!-- <div class="d-flex justify-content-center"> -->
				<span> <i class="fas fa-copyright"></i> Ben Attali </span>
				<span class="ml-2"> • </span>
				<span class="mx-2"> 2019 </span>
				<span class="mr-2"> • </span>
				<span class="footer-links">
					<%= link_to "benattali.com", "https://benattali.com", target: :_blank %>
				</span>
			<!-- </div> -->
		</div>
	</div>
</footer>