body {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.48) 0%, rgba(249,248,203,0.82) 82%), url("paper.jpg");
	background-size: cover;
	font-weight: 900;
	color: rgb(59,59,59);
}

a {
	color: rgb(59,59,59);
	&:hover {
		text-decoration: none;
		color: rgb(59,59,59);
	}
}

.last-line {
	margin-bottom: 2rem;
}

#input-style {
	border: none;
	border-bottom: 2px solid rgba(136, 201, 224, 1);
	background: none;
}