body {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.48) 0%, rgba(249,248,203,0.82) 82%), url("https://res.cloudinary.com/dyseqqsmw/image/upload/v1566918573/pi5j7nugvyybf7qlwd5p.jpg");
	background-size: cover;
	font-weight: 900;
	color: rgb(59,59,59);
}

p {
	font-size: 20px;
}

a {
	color: rgb(59,59,59);
	font-family: "Oswald";
	&:hover {
		text-decoration: none;
		color: rgb(59,59,59);
	}
}

.last-line {
	margin-bottom: 2rem;
}

.input-style {
	border: none;
	border-bottom: 2px solid rgba(136, 201, 224, 1);
	background: none;
	&:focus {
		border: 2px solid rgba(136, 201, 224, 1);
		background: none;
		font-weight: 700;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.link-underline {
	font-size: 12px;
	&:hover {
		text-decoration: underline;
	}
}

.link-underline-add {
	font-size: 16px;
	&:hover {
		text-decoration: underline;
	}
}

.checkmark {
	color: #228B22;
}

.undo {
	color: #DC143C;
}