.container-margins {
	margin: 0 10vw;
	word-break: break-all;
	min-height: 79vh;
	padding-top: 2rem;
}

.headers-box {
	height: auto;
	background-color: rgba(136, 201, 224, 0.6);
	margin-bottom: 1.5rem;
	color: $gray;
	font-size: 32px;
	padding: 10px;
	transform: skewX(-10deg) rotate(4deg);
	display: inline-block;
	border-radius: 2px;
}

h1 {
	transform: rotate(-4deg);
	margin: 0;
}
