.footer-link {
	font-size: 32px;
}

.footer-links a {
	color: $gray;
	&:hover {
		color: $blue;
	}
}

.footer-background {
	background-color: none;
	padding: 15px 30px;
	border-top: 2px solid $gray;
}