.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: rgba(136, 201, 224, 0.8);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.highlight:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}