.navbar {
	min-height: 6vh;
	border-bottom: 2px solid $gray;
}

.navbar-link a {
	font-size: 20px;
	&:hover {
		color: $blue !important;
	}
}

.navbar-user {
  justify-content: space-between;
}

.navbar-user .navbar-collapse {
  flex-grow: 0;
}

.navbar-user .navbar-brand img {
  width: 40px;
}

.nav-email {
	display: block;
  padding: 0.5rem 0;
  color: $gray;
  font-size: 20px;
}

.nav-lists-border {
	color: $gray !important;
	font-size: 24px;
}

.nav-signup-border {
	color: $gray !important;
	font-size: 20px;
}

.navbar-toggler {
	background: $white;
	border-radius: 3px;
}