.navbar {
	min-height: 6vh;
	background-image: linear-gradient(360deg, rgb(248, 235, 168) 0%, rgba(243,182,201,0) 20%, rgba(243,182,201,0) 80%), url("spiral.jpg");
	background-size: contain;
}

.navbar-link a {
	&:hover {
		color: $blue !important;
	}
}

.navbar-user {
  justify-content: space-between;
}

.navbar-user .navbar-collapse {
  flex-grow: 0;
}

.navbar-user .navbar-brand img {
  width: 40px;
}

.nav-email {
	display: block;
  padding: 0.5rem 0;
  text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 1px $white;	
  color: $black;
  font-weight: 900;
}

.nav-word-border {
	text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 1px $black;
	color: $yellow !important;
	font-weight: 900;
}
