.navbar {
	min-height: 6vh;
	background: $white;
}

.navbar-user {
  justify-content: space-between;
  background: white;
}

.navbar-user .navbar-collapse {
  flex-grow: 0;
}

.navbar-user .navbar-brand img {
  width: 40px;
}

.nav-email {
	display: block;
  padding: 0.5rem 0;
}
